* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.5rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: #3d5afe;
  --accent-color-rgb: 77, 119, 255;
  --secondary-color: #ffac2e;
  --text-color: 34, 34, 34;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: rgb(220, 165, 0);
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--foreground-color), 1);
}

body[data-theme=dark] {
  --accent-color: #92a2ff;
  --accent-color-rgb: 160, 182, 255;
  --secondary-color: #d60739;
  --text-color: 210, 210, 210;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: rgb(255, 213, 5);
}
body[data-theme=dark] ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  font-weight: 700;
}

p,
strong {
  line-height: 1.7;
  color: rgba(var(--text-color), 0.9);
  max-width: 70ch;
  font-size: 0.9rem;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a:where([class]) {
  color: inherit;
  text-decoration: none;
}
a:where([class]):focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
}

a {
  color: var(--accent-color);
}

a:-webkit-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:-moz-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

input[type=datetime-local] {
  width: 100%;
  padding: 0.8rem 0.6rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgba(var(--text-color), 0.06);
}
input[type=datetime-local]:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--accent-color);
}

button,
.button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  flex-shrink: 0;
}
button:focus-visible,
.button:focus-visible {
  outline: var(--accent-color) solid medium;
}
button:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}

.button {
  background-color: rgba(var(--text-color), 0.02);
  border: solid thin rgba(var(--text-color), 0.06);
}
.button--primary {
  padding: 0.8rem 1rem;
  color: rgba(var(--background-color), 1);
  background-color: var(--accent-color);
}
.button--primary .icon {
  fill: rgba(var(--background-color), 1);
}
.button--colored {
  color: var(--accent-color);
}
.button--colored .icon {
  fill: var(--accent-color);
}
.button--danger {
  background-color: rgba(255, 115, 115, 0.062745098);
  color: var(--danger-color);
}
.button--danger .icon {
  fill: var(--danger-color);
}
.button--small {
  padding: 0.4rem 0.6rem;
}
.button--outlined {
  border: solid var(--accent-color) 1px;
  background-color: transparent;
  color: var(--accent-color);
}
.button--outlined .icon {
  fill: var(--accent-color);
}
.button--transparent {
  background-color: transparent;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  filter: saturate(0);
}

.cta {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.8rem 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.8);
  flex-shrink: 0;
}

.icon-only {
  padding: 0.5rem;
  border-radius: 0.3rem;
  aspect-ratio: 1/1;
}

a:-webkit-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:-moz-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

details summary {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
  color: var(--accent-color);
}

details[open] summary {
  margin-bottom: 1rem;
}
details[open] > summary .down-arrow {
  transform: rotate(180deg);
}

sm-form fieldset {
  border: none;
}

sm-input {
  --border-radius: 0.5rem;
  --background-color: rgba(var(--foreground-color), 1);
}

sm-spinner {
  --size: 1.3rem;
  --stroke-width: 0.1rem;
}

sm-chips {
  --gap: 0.3rem;
}

sm-chip {
  position: relative;
  font-size: 0.9rem;
  --border-radius: 0.5rem;
  --padding: 0.5rem 0.8rem;
  --background: rgba(var(--text-color), 0.06);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 500;
}
sm-chip[selected] {
  --background: var(--accent-color);
  color: rgba(var(--background-color), 1);
}

sm-select {
  font-size: 0.9rem;
  font-weight: 500;
  --padding: 0.6rem 0.3rem 0.6rem 0.6rem;
}

sm-option {
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

.interact {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap-around {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.full-bleed {
  grid-column: 1/-1;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.top-0 {
  top: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.grid {
  display: grid;
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-3 {
  gap: 0.3rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-start {
  align-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-items: start;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.fw-500 {
  font-weight: 500;
}

.padding-block-1 {
  padding-block: 1rem;
}

.margin-right-0-3 {
  margin-right: 0.3rem;
}

.margin-right-0-5 {
  margin-right: 0.5rem;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-left-0-5 {
  margin-left: 0.5rem;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-bottom-0-5 {
  margin-bottom: 0.5rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-block-0-5 {
  margin-block: 0.5rem;
}

.margin-block-1 {
  margin-block: 1rem;
}

.margin-block-1-5 {
  margin-block: 1.5rem;
}

.margin-inline-1 {
  margin-inline: 1rem;
}

.margin-inline-1-5 {
  margin-inline: 1.5rem;
}

.hidden {
  display: none !important;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.4rem;
}

.h4 {
  font-size: 1rem;
}

.h5 {
  font-size: 0.8rem;
}

.grid-3 {
  grid-template-columns: 1fr auto auto;
}

.flow-column {
  grid-auto-flow: column;
}

.w-100 {
  width: 100%;
}

.color-0-8 {
  color: rgba(var(--text-color), 0.8);
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.ws-pre-line {
  white-space: pre-line;
}

.copy-button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0.4rem;
  background-color: rgba(var(--text-color, 17, 17, 17), 0.06);
  border-radius: var(--button-border-radius, 0.3rem);
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.card {
  background-color: rgba(var(--foreground-color), 1);
  border-radius: 0.5rem;
  padding: max(1rem, 3vw);
}

.ripple {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(circle, rgba(var(--text-color), 0.3) 0%, rgba(0, 0, 0, 0) 50%);
  pointer-events: none;
}

.interactive {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.observe-empty-state:empty {
  display: none;
}

.observe-empty-state:not(:empty) ~ .empty-state {
  display: none;
}

.password-field label {
  display: flex;
  flex-shrink: 0;
}
.password-field label input:checked ~ .visible {
  display: none;
}
.password-field label input:not(:checked) ~ .invisible {
  display: none;
}

.multi-state-button {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  isolation: isolate;
}
.multi-state-button > * {
  grid-area: 1/1/2/2;
}
.multi-state-button button {
  z-index: 1;
  width: 100%;
}

#confirmation_popup,
#prompt_popup {
  flex-direction: column;
}
#confirmation_popup h4,
#prompt_popup h4 {
  margin-bottom: 1rem;
}
#confirmation_popup sm-button,
#prompt_popup sm-button {
  margin: 0;
}
#confirmation_popup .flex,
#prompt_popup .flex {
  padding: 0;
  margin-top: 1rem;
}
#confirmation_popup .flex sm-button:first-of-type,
#prompt_popup .flex sm-button:first-of-type {
  margin-right: 0.6rem;
  margin-left: auto;
}

#prompt_message {
  margin-bottom: 1.5rem;
}

.popup__header {
  position: relative;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem;
  align-items: center;
}
.popup__header > * {
  grid-row: 1;
}
.popup__header h3,
.popup__header h4 {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}
.popup__header__close {
  grid-column: 1;
  margin-left: -1rem;
  justify-self: flex-start;
}

ul[type=circle],
menu[type=circle] {
  padding: 1.5rem 2.5rem;
  list-style: circle;
}
ul[type=circle] li,
menu[type=circle] li {
  margin-bottom: 1rem;
}
ul[type=circle] li:last-of-type,
menu[type=circle] li:last-of-type {
  margin-bottom: 0;
}
ul,
menu {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
}

#loading_page {
  display: grid;
  gap: 1rem;
  place-content: center;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(var(--foreground-color), 1);
}

#main_header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 1rem;
}

#logo {
  color: inherit;
  margin-right: auto;
}

.app-brand {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.app-brand .icon {
  height: 1.7rem;
  width: 1.7rem;
}

.app-name__company {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(var(--text-color), 0.8);
}

theme-toggle {
  justify-self: end;
  align-self: center;
}

.label {
  text-transform: capitalize;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: rgba(var(--text-color), 0.8);
  margin-top: 1.5rem;
  font-weight: 500;
}
.label:first-of-type {
  margin-top: 0;
}
.label + :is(h1, h2, h3, h4, h5, h6, p, span, sm-copy, a) {
  font-weight: 700;
}

#main_card {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--foreground-color), 1);
}

#main_navbar {
  display: flex;
  background: rgba(var(--text-color), 0.03);
}
#main_navbar.hide-away {
  position: absolute;
}
#main_navbar ul {
  display: flex;
  height: 100%;
  width: 100%;
}
#main_navbar ul li {
  width: 100%;
}

.nav-item {
  position: relative;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.3rem;
  color: var(--text-color);
  font-size: 0.8rem;
  border-radius: 0.3rem;
  font-weight: 500;
}
.nav-item .icon {
  width: 2rem;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-item__title {
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-item--active {
  color: var(--accent-color);
}
.nav-item--active .icon {
  fill: var(--accent-color);
}
.nav-item__indicator {
  position: absolute;
  bottom: 0;
  width: 2rem;
  height: 0.3rem;
  background: var(--accent-color);
  border-radius: 1rem 1rem 0 0;
}

body.loaded .nav-item__indicator {
  view-transition-name: indicator;
}

#page_container {
  padding: max(1rem, 1.5vw);
  overflow: auto;
}

#search {
  width: min(100%, 56rem);
  margin: 0 auto;
}

#search_wrapper {
  width: min(100%, 46rem);
  --gap: 0.5rem;
}

#search_query_input {
  width: 100%;
  --border-radius: 5rem;
  border: solid thin rgba(var(--text-color), 0.3);
  border-radius: 5rem;
}

#check_address_button {
  border-radius: 5rem;
}

#address_balance_card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--accent-color-rgb), 0.2);
}

#address_balance {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent-color);
}

#transactions_list {
  display: grid;
  gap: 2rem;
  padding-bottom: 4rem;
}

.transaction {
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  align-items: center;
  content-visibility: auto;
  contain-intrinsic-height: 8rem;
}
.transaction:not(:last-of-type) {
  padding-bottom: 2rem;
}
.transaction__amount {
  white-space: nowrap;
}
.transaction.out .transaction__icon .icon {
  fill: var(--danger-color);
}
.transaction.out .transaction__amount {
  color: var(--danger-color);
}
.transaction.out .transaction__amount::before {
  content: "- ";
}
.transaction.in .transaction__icon .icon {
  fill: var(--green);
}
.transaction.in .transaction__amount {
  color: var(--green);
}
.transaction.in .transaction__amount::before {
  content: "+ ";
}
.transaction.unconfirmed-tx .transaction__icon .icon {
  fill: var(--yellow);
}
.transaction__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(var(--text-color), 0.03);
  border-radius: 2rem;
}
.transaction__receiver {
  font-weight: 500;
  margin-bottom: 0.3rem;
  line-height: 1.5;
}
.transaction__time {
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.8);
}
.transaction .pending-badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--yellow);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  justify-self: flex-start;
}
.transaction__amount {
  font-size: 1rem;
  font-weight: 700;
}
.transaction__id {
  font-size: 0.9rem;
}

.tx-participant:not(:last-child) {
  margin-right: 0.5rem;
}
.tx-participant:not(:last-child)::after {
  content: ",";
}

#tx_details {
  margin-top: 1rem;
}

#tx_status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--text-color), 0.03);
  color: var(--danger-color);
}
#tx_status .icon {
  fill: var(--danger-color);
}

#tx_technicals .tx-detail:first-of-type {
  position: relative;
}
#tx_technicals .tx-detail:first-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.2rem;
  height: calc(100% - 2rem);
  background-color: var(--accent-color);
  border-radius: 0 1rem 1rem 0;
}

.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.tx-detail {
  display: grid;
  gap: 0.5rem;
  align-content: flex-start;
  background-color: rgba(var(--text-color), 0.03);
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 1 1 8rem;
}
.tx-detail .flex div {
  color: rgba(var(--text-color), 0.8);
  font-size: 0.9rem;
  font-weight: 500;
}
.tx-detail > div {
  font-weight: 700;
  font-size: 1rem;
  color: rgba(var(--text-color), 0.9);
}

#in_out_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}

.in-out-card {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--text-color), 0.03);
}
.in-out-card:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.in-out-card :last-child {
  font-weight: 500;
}

.increase-fee-sender,
.increase-fee-receiver {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid thin rgba(var(--text-color), 0.3);
}

#creation_menu {
  display: grid;
  grid-area: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.primary-action {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  padding: max(1rem, 1.5vw);
  gap: 0.5rem 1rem;
  white-space: normal;
  border-radius: 0.5rem;
  background-color: transparent;
  border: thin solid rgba(var(--accent-color-rgb), 0.2);
  text-align: start;
  width: 100%;
  height: 100%;
}
.primary-action .icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 1rem;
  grid-row: 1/3;
}
.primary-action h4 {
  grid-column: 2;
  font-size: 1rem;
}
.primary-action p {
  grid-column: 2;
  font-weight: 400;
  color: rgba(var(--text-color), 0.8);
  margin-bottom: auto;
}

#flo_id_warning {
  padding-bottom: 1.5rem;
  border-bottom: thin solid rgba(var(--text-color), 0.3);
}
#flo_id_warning .icon {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  background-color: #ffc107;
  border-radius: 3rem;
  fill: rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5rem;
}

.generated-id-card {
  display: grid;
  gap: 1rem;
}
.generated-id-card h5 {
  margin-bottom: 0.3rem;
}

#convert_to_taproot_popup::part(popup) {
  view-transition-name: popup;
}
#convert_to_taproot_popup::part(popup-header) {
  view-transition-name: popup-header;
}
#convert_to_taproot_popup::part(popup-body) {
  view-transition-name: popup-body;
}

::view-transition-old(popup),
::view-transition-new(popup) {
  width: 100%;
  height: 100%;
}

#transaction_result {
  display: grid;
  gap: 1.5rem;
  height: max(40vh, 24rem);
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}
#transaction_result:empty {
  display: none;
}
#transaction_result h3 {
  text-align: center;
  width: 100%;
}
#transaction_result > .icon {
  justify-self: center;
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
  -webkit-animation: popup 1s;
          animation: popup 1s;
}
#transaction_result > .icon--success {
  fill: rgba(var(--background-color), 1);
  padding: 1rem;
  background-color: #0bbe56;
}
#transaction_result > .icon--failed {
  background-color: rgba(var(--text-color), 0.03);
  fill: var(--danger-color);
}
#transaction_result sm-copy {
  font-size: 0.8rem;
}
#transaction_result #transaction_link {
  justify-self: center;
}

@-webkit-keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(600%);
  }
  10% {
    transform: scale(0.2) translateY(5rem);
    opacity: 1;
  }
  40% {
    transform: scale(0.2) translateY(0);
  }
  80% {
    transform: scale(1.1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(600%);
  }
  10% {
    transform: scale(0.2) translateY(5rem);
    opacity: 1;
  }
  40% {
    transform: scale(0.2) translateY(0);
  }
  80% {
    transform: scale(1.1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
.input-action-wrapper {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  align-items: start;
  container: input-action/inline-size;
}
.input-action-wrapper sm-input {
  width: auto;
  flex: 1;
  min-width: 20rem;
}
.input-action-wrapper button {
  min-width: 7rem;
  min-height: 3.15rem;
}

@container input-action (max-width: 28rem) {
  sm-input {
    width: 100%;
    min-width: 16rem !important;
  }
  button {
    flex: 1;
  }
}
#conversion_view_selector {
  margin-right: auto;
  font-weight: 500;
}

.converted-card:not(:empty) {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgba(var(--text-color), 0.03);
}
.converted-card:not(:empty) sm-copy {
  font-weight: 500;
  color: rgba(var(--text-color), 0.9);
}

.steps {
  display: flex;
  counter-reset: step;
  width: min(36rem, 100%);
}

.step {
  counter-increment: step;
  display: flex;
  align-items: center;
  position: relative;
  height: 2rem;
  flex: 1;
}
.step::before {
  content: counter(step);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(var(--text-color), 0.03);
  color: rgba(var(--text-color), 0.8);
  font-weight: 500;
  margin-right: 0.5rem;
  aspect-ratio: 1/1;
  font-size: 0.9rem;
}
.step:not(:last-of-type) {
  margin-right: 0.5rem;
}
.step:not(:last-of-type)::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: rgba(var(--text-color), 0.3);
}
.step.active::before {
  background-color: var(--accent-color);
  color: rgba(var(--background-color), 1);
}
.step.done::before {
  background-color: var(--accent-color);
  color: rgba(var(--background-color), 1);
}
.step.done::after {
  background-color: var(--accent-color);
}

#generate_script_path_address_popup fieldset {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid thin rgba(var(--text-color), 0.3);
}
#generate_script_path_address_popup fieldset legend {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 0.5rem;
  margin-left: -0.5rem;
}
#generate_script_path_address_popup .taproot-member sm-copy {
  font-weight: 500;
  font-size: 0.9rem;
}
#generate_script_path_address_popup .taproot-member:not(:last-of-type) {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: solid thin rgba(var(--text-color), 0.3);
}

@media only screen and (max-width: 640px) {
  .hide-on-small {
    display: none;
  }
}
@media only screen and (min-width: 640px) {
  sm-popup {
    --width: 24rem;
  }
  .popup__header {
    padding: 1rem 1.5rem 0 1.5rem;
  }
  #main_card {
    grid-template-areas: "header" ".";
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05), 0 1rem 3rem rgba(0, 0, 0, 0.2);
  }
  #main_card:not(.nav-hidden) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "nav .";
  }
  #main_header {
    grid-area: header;
    border-bottom: solid thin rgba(var(--text-color), 0.2);
    padding: 0.8rem 1rem;
  }
  #main_header .app-brand {
    gap: 0.5rem;
  }
  #main_navbar {
    grid-area: nav;
    border-top: none;
    flex-direction: column;
    background-color: transparent;
    border-right: solid thin rgba(var(--text-color), 0.2);
  }
  #main_navbar ul {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
  }
  .nav-item {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.8rem 1rem 0.8rem 0.5rem;
    min-width: 10rem;
  }
  .nav-item__indicator {
    width: 0.25rem;
    height: 50%;
    left: 0;
    border-radius: 0 1rem 1rem 0;
    bottom: auto;
  }
  #transactions_list {
    gap: 0.5rem;
  }
  .transaction {
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: solid thin rgba(var(--text-color), 0.3);
  }
  #increase_fee_popup {
    --width: 30rem;
  }
  #generate_key_path_address_popup,
#convert_to_taproot_popup {
    --width: min(36rem, 100%);
  }
  #send_tx_form::part(form),
#script_tx_step_1_form::part(form) {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  #send_tx_form > fieldset,
#script_tx_step_1_form > fieldset {
    align-self: flex-start;
    border-radius: 0.8rem;
    padding: 1.5rem;
    background-color: rgba(var(--text-color), 0.03);
    border: none;
  }
  #convert {
    width: min(72rem, 100%);
  }
  #key_conversion_content {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  #generate_script_path_address_popup {
    --width: 36rem;
  }
}
@media only screen and (min-width: 1280px) {
  .page {
    margin: 0 8vw;
  }
  #homepage {
    grid-template-columns: 1fr 22rem;
  }
}
@media (hover: hover) {
  .hover {
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--text-color), 0.5);
  }
  .interact:not([disabled]) {
    transition: background-color 0.3s;
  }
  .interact:not([disabled]):hover {
    background-color: rgba(var(--text-color), 0.06);
  }
  .button:not([disabled]) {
    transition: background-color 0.3s, filter 0.3s;
  }
  .button:not([disabled]):hover {
    filter: contrast(2);
  }
}
@media (prefers-reduced-motion) {
  ::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
    -webkit-animation: none !important;
            animation: none !important;
  }
}